body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 1rem /* 16/16 */;
  font-weight: 500;
  line-height: 1.56;
}

.container {
  padding: 1.25rem /* 20/16 */ 2.5rem /* 40/16 */;
  max-width: 62.5rem /* 1000/16 */;
  margin-right: auto;
  margin-left: auto;
}
